
/* DESKTOP */
@media screen and (min-width: 1024px) {
    body{
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* background: linear-gradient(20deg, rgb(37, 35, 35), rgb(121, 110, 110)); */
        background-color: burlywood;
    }
    .main-box {
        /* width: 25%; */
        display: flex;
        color: black;
        font-weight: 500;
        border: 1px solid black;
        box-shadow: 0 0 1px rgb(42, 41, 41)
    }

    .main-box .box-one {
        width: 95%;
        padding-bottom: 30px;
        border: 1px solid black;
        margin-left: 2.3%;
        margin-top: 6px;
        box-shadow: inset 0 0 8px rgb(62, 61, 61);
        background-color: brown;
    }

    .main-box>.box-one>.box-two {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: 2%;
    }

    .main-box>.box-one>.box-two>span {
        display: flex;
        justify-content: space-between;
    }

    .main-box>.box-one>.box-two>span>small {
        font-size: 10px;
        margin-top: 3px;
    }

    .main-box>.box-one>.box-two>span>button {
        width: 80px;
        margin-left: 2px;
        margin-top: 3px;
        margin-bottom: 10px;
        padding: 1px 3px;
        border: 1px solid black;
        box-shadow: 0 0 3px grey;
        background-color:white;
        color: black;
        outline: none;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .main-box>.box-one>.box-two>span>button:hover{
        transform: scale(0.95);
    }

    .main-box>.box-one>.box-two>.box-three {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 2px;
    }



    .main-box>.box-one>.box-two>.box-three>span {
        display: flex;
        justify-content: space-around;
    }

    .main-box>.box-one>.box-two>.box-three>span>button {
        width: 80px;
        margin-left: 2px;
        margin-top: 3px;
        padding: 1px 3px;
        border: 1px solid black;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        background-color: lightgoldenrodyellow;
        color: black;
        outline: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .main-box>.box-one>.box-two>.box-three>span>button:hover{
        transform: scale(0.95);
    }


    .main-box>.box-one>.box-two>.box-three>span>small {
        font-size: 10px;
    }

    .main-box>.box-one>.box-one-top {
        width: 95%;
        margin-left: 2.5%;
        padding-bottom: 20px;
        border: 1px solid black;
    }

    .main-box>.box-one>.box-one-top>#box-one-text {
        display: flex;
        font-size: 19px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .main-box>.box-one>.box-one-top>#box-one-middle {
        width: 95%;
        height: 15vh;
        margin-left: 2.5%;
        border: 1px solid black;
        box-shadow: inset 0 0 8px grey;
    }

    .main-box>.box-one>.box-one-top>#box-one-middle>input[type="text"] {
        width: 93%;
        height: 13vh;
        border: none;
        box-shadow: 0 0 8px black;
        margin-left: 2.5%;
        margin-top: 8px;
    }

    .main-box>.box-one>.box-one-top>#box-one-bottom {
        width: 95%;
        margin-left: 2.5%;
        justify-content: space-around;
        display: flex;
    }


    .main-box>.box-one>.box-one-top>#box-one-bottom>button {
        width: 100px;
        margin-left: 2px;
        margin-top: 6px;
        outline: none;
        height: 25px;
        background-color: peachpuff;
        color: black;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .main-box>.box-one>.box-one-top>#box-one-bottom>button:hover{
        transform: scale(0.95);
    }


}


/* MOBILE */

@media screen and (max-width: 475px) {
    
    body{
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        background: linear-gradient(20deg, rgb(37, 35, 35), rgb(121, 110, 110));
        background-color: white;
    }
    .main-box {
        width: 40%;
        display: flex;
        color: black;
        font-weight: 500;
        border: 1px solid black;
        box-shadow: 0 0 5px rgb(42, 41, 41)
    }

    .main-box .box-one {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        margin-left: 2.3%;
        margin-top: 6px;
        box-shadow: inset 0 0 8px rgb(62, 61, 61);
        background-color: brown;
    }

    .main-box>.box-one>.box-two {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: 2%;
    }

    .main-box>.box-one>.box-two>span {
        display: flex;
        justify-content: space-between;
    }

    .main-box>.box-one>.box-two>span>small {
        font-size: 10px;
        margin-top: 3px;
    }

    .main-box>.box-one>.box-two>span>button {
        width: 80px;
        margin-left: 2px;
        margin-top: 3px;
        margin-bottom: 10px;
        padding: 1px 3px;
        border: 1px solid black;
        box-shadow: 0 0 3px grey;
        background-color:white;
        color: black;
        outline: none;
        cursor: pointer;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .main-box>.box-one>.box-two>span>button:hover{
        transform: scale(0.95);
    }

    .main-box>.box-one>.box-two>.box-three {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 2px;
    }



    .main-box>.box-one>.box-two>.box-three>span {
        display: flex;
        justify-content: space-around;
    }

    .main-box>.box-one>.box-two>.box-three>span>button {
        width: 80px;
        margin-left: 2px;
        margin-top: 3px;
        padding: 1px 3px;
        border: 1px solid black;
        box-shadow: 0 0 3px grey;
        cursor: pointer;
        background-color: lightgoldenrodyellow;
        color: black;
        outline: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .main-box>.box-one>.box-two>.box-three>span>button:hover{
        transform: scale(0.95);
    }


    .main-box>.box-one>.box-two>.box-three>span>small {
        font-size: 10px;
    }

    .main-box>.box-one>.box-one-top {
        width: 95%;
        margin-left: 2.5%;
        height: 58%;
        border: 1px solid black;
    }

    .main-box>.box-one>.box-one-top>#box-one-text {
        display: flex;
        font-size: 19px;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .main-box>.box-one>.box-one-top>#box-one-middle {
        width: 95%;
        height: 15vh;
        margin-left: 2.5%;
        border: 1px solid black;
        box-shadow: inset 0 0 8px grey;
    }

    .main-box>.box-one>.box-one-top>#box-one-middle>input[type="text"] {
        width: 93%;
        height: 13vh;
        border: none;
        box-shadow: 0 0 8px black;
        margin-left: 2.5%;
        margin-top: 8px;
    }

    .main-box>.box-one>.box-one-top>#box-one-bottom {
        width: 95%;
        margin-left: 2.5%;
        justify-content: space-around;
        display: flex;
    }


    .main-box>.box-one>.box-one-top>#box-one-bottom>button {
        width: 100px;
        margin-left: 2px;
        margin-top: 6px;
        outline: none;
        height: 25px;
        background-color: peachpuff;
        color: black;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .main-box>.box-one>.box-one-top>#box-one-bottom>button:hover{
        transform: scale(0.95);
    }



}


